---
title: MediTech
---

<section class="hero diagonal">
	<div class="container">
		<h2 class="editable">Medical and Technology</h2>
		<p class="subtext editable">MediTech sinh ra để giả quyết các vướng mắc của khách hàng, chia sẻ với cộng đồng và phát triển mỗi nhân viên.</p>
		<p><a class="button alt" href="{{ site.baseurl }}/contact/">Liên hệ</a></p>
	</div>
</section>

<section class="diagonal patterned">
	<div class="container halves">
		<div>
			<h3 class="editable">Các dự án</h3>
			<p class="editable">Các dự án mà chúng tôi đã tham gia, hãy tham khảo để hiểu hơn về MediTech.</p>
			<p class="editable"><a href="{{ site.baseurl }}/portfolio/">Xem đầy đủ các dự án &rarr;</a></p>
		</div>
		<div>
			<ul class="image-grid">
				{% for client in site.clients limit: 4 %}
					<li><a href="{{ site.baseurl }}{{ client.url }}"><img src="{% include relative-src.html src=client.image_path %}"></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/images/MediTech-01.png" width="250" style="margin-bottom: 40px;"></li>
				<li><img src="{{ site.baseurl }}/images/customer.png" width="300"></li>
			</ul>
		</div>
		<div>
			<h3 class="editable">Medical and Technology</h3>
			<p class="editable">MediTech mong muốn góp phần mang lại lợi ích cho khách hàng và mang lại giá trị riêng cho từng cá nhân trong mỗi dự án. MediTech mon muốn thúc đẩy và đưa công nghệ áp dụng vào thực tế .</p>
		</div>
	</div>
</section>
